*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.players{

    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border-radius: 15px;
    font-size: 24px;
    margin-top: 100px;
}
.players div{

    padding: 25px 20px;
}
.players div.active{

    background: blue;
    color: #fff;
}
.game-board{

    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    
}
.cell{
    height: 100px;
    width: 100px;
    border: 2px solid ;
    align-items: center;
    justify-content: center ;
    display: flex;
    font-size: 100px;
    border-radius: 10px;
}
.cell.X{

    color: aqua;
}
.cell.O{
  color: blue;
}
.cell:nth-child(1),.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(1),.cell:nth-child(4),.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(3),.cell:nth-child(6),.cell:nth-child(9){
    border-right: none;
}
.cell:nth-child(7),.cell:nth-child(8),.cell:nth-child(9){
    border-bottom: none;
}
.result{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(0,0,0,0,5);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.result h1{
    color: #fff;
    font-size: 50px;
    background-color: blue;
    padding: 15px 25px;    

}
.result button{

    font-size: 18px;
    background-color: blue;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    padding:10px 25px
}
.inactive{
    display: none;
}
.disabled{
    pointer-events: none;
}